<div class="card">

  <h1 class="text-3xl font-bold mb-4">Lista de Categorías</h1>

  <div *ngIf="categorias().length > 0; else cargando" class="mt-4">

    <div class="overflow-x-auto">
      <p-table
        [value]="categorias()"
        dataKey="id_categoria"
        [rowHover]="true"
        [rows]="10"
        [paginator]="true"
        [rowsPerPageOptions]="[5, 10, 20]"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} categorías"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-cat>
          <tr>
            <td>{{ cat.id_categoria }}</td>
            <td>{{ cat.nombre }}</td>
            <td>{{ cat.descripcion }}</td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="3">No se encontraron categorías.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

  </div>

  <ng-template #cargando>
    <p-progressbar mode="indeterminate" style="height: 6px"></p-progressbar>
  </ng-template>

</div>