<div class="card">
      <h1>Lista de Categorías</h1>
       <p-button (click)="openCreateCategoria()">Crear Nueva Categoría</p-button>


      <div *ngIf="!loading() && categorias().length > 0; else cargando">
        <p-table
        [value]="categorias()"
        dataKey="id_categoria"
        [rowHover]="true"
        [rows]="10"
        [paginator]="true"
        [rowsPerPageOptions]="[5, 10, 20]"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} categorías"
        >
        <ng-template pTemplate="header">
       
            <tr>
              <th>ID</th>
              <th>Nombre de la Categoría</th>
              <th>Descripcion</th>
              <th>Acciones</th>
            </tr>
          </ng-template>
      
          <ng-template pTemplate="body" let-cat>
            <tr>
              <td>{{ cat.id_categoria }}</td>
              <td>{{ cat.nombre }}</td>
              <td>{{ cat.descripcion }}</td>
              <td>
                <p-button icon="pi pi-pencil" (click)="openEditCategoria(cat)"></p-button>
                <p-button icon="pi pi-trash" severity="danger" (click)="deleteCategoria(cat.id_categoria)"></p-button>
              </td>
            </tr>
          </ng-template>
      
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="4">No se encontraron categorías.</td>
            </tr>
          </ng-template>
        </p-table>
      
        <!-- Este es el diálogo de creación -->
      <app-categoria
        [(visible)]="categoriaModalVisible"
        [categoriaSeleccionada]="categoriaSeleccionada"
        (saved)="loadCategorias()">
      </app-categoria>
      
      
      </div>
      <ng-template #cargando>
        <p-progressbar mode="indeterminate" style="height: 6px"></p-progressbar>
      </ng-template>

      
    </div>

