<p-dialog
  header="Datos de Usuario"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '25rem' }"
>
  <span class="p-text-secondary block mb-8">Ingrese sus datos.</span>

  <form [formGroup]="userForm">
  <div formGroupName="persona" class="flex flex-col gap-4 mb-4">
    <!-- Nombre, Apellido, Documento, Teléfono, Email -->
    <div class="flex items-center gap-4">
      <label for="nombre" class="font-semibold w-24">Nombre</label>
      <input pInputText id="nombre" class="flex-auto" formControlName="nombre" />
    </div>
    <div class="flex items-center gap-4">
      <label for="apellido" class="font-semibold w-24">Apellido</label>
      <input pInputText id="apellido" class="flex-auto" formControlName="apellido" />
    </div>
    <div class="flex items-center gap-4">
      <label for="documento" class="font-semibold w-24">Documento</label>
      <input pInputText id="documento" class="flex-auto" formControlName="documento_identidad" />
    </div>
    <div class="flex items-center gap-4">
      <label for="telefono" class="font-semibold w-24">Teléfono</label>
      <input pInputText id="telefono" class="flex-auto" formControlName="telefono" />
    </div>
    <div class="flex items-center gap-4">
      <label for="emailPersona" class="font-semibold w-24">Correo</label>
      <input pInputText id="emailPersona" class="flex-auto" formControlName="email" />
    </div>
  </div>

  <div formGroupName="user" class="flex flex-col gap-4 mb-4">
    <div class="flex items-center gap-4">
      <label for="emailUser" class="font-semibold w-24">Correo Usuario</label>
      <input pInputText id="emailUser" class="flex-auto" formControlName="email" />
    </div>
    <div class="flex items-center gap-4">
      <label for="pass" class="font-semibold w-24">Contraseña</label>
      <input type="password" pInputText id="pass" class="flex-auto" formControlName="password_hash" />
    </div>
    <div class="flex items-center gap-4">
      <label for="roles" class="font-semibold w-24">Roles</label>
      <p-multiSelect
        id="roles"
        [options]="rolesOptions"
        formControlName="roles"
        optionLabel="nombre"
        optionValue="id"
        placeholder="Seleccione roles"
        appendTo="body"
        [filter]="false"
        [showToggleAll]="false"
        class="flex-auto"
      >
      </p-multiSelect>
    </div>
  </div>

  <div class="flex justify-end gap-2">
    <p-button label="Cancelar" severity="secondary" (click)="visible = false" />
    <p-button label="Guardar" (click)="funGuardarUser()" [disabled]="!userForm.valid" />
  </div>
</form>
</p-dialog>

<p-dialog
  header="Editar Usuario"
  [modal]="true"
  [(visible)]="visibleeditar"
  [style]="{ width: '25rem' }"
>
  <form [formGroup]="userForm2">
    <div class="mb-4">
      <label for="email">Correo</label>
      <input pInputText id="email" formControlName="email" />
    </div>
    <div class="mb-4">
      <label for="newPass">Nueva contraseña</label>
      <input
        type="password"
        pInputText
        id="newPass"
        formControlName="password"
      />
    </div>
    <div class="mb-4">
      <label for="roles">Roles</label>
      <p-multiSelect
        id="roles"
        [options]="rolesOptions"
        formControlName="roles"
        optionLabel="nombre"
        optionValue="id"
        placeholder="Seleccione roles"
      >
      </p-multiSelect>
    </div>
    <div class="flex justify-end gap-2">
      <p-button
        label="Cancelar"
        severity="secondary"
        (click)="visibleeditar = false"
      />
      <p-button
        label="Guardar"
        (click)="funGuardarUser()"
        [disabled]="!userForm2.valid"
      />
    </div>
  </form>
</p-dialog>

<div class="card">
  <div class="flex items-center justify-between mb-6">
    <!-- Título -->
    <h1 class="text-4xl font-bold">Lista de Usuarios</h1>

    <!-- Buscador -->
    <div class="flex items-center space-x-2">
      <p-iconfield iconPosition="left">
        <p-inputicon>
          <i class="pi pi-search"></i>
        </p-inputicon>
        <input
          pInputText
          type="text"
          placeholder="Buscar usuario..."
          class="border rounded px-3 py-2 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400"
          (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
        />
      </p-iconfield>

      <p-button
        (click)="showDialog()"
        label="Nuevo Usuario"
        icon="pi pi-plus"
      />
    </div>
  </div>

  <p-table
    [value]="users()"
    #dt1
    [paginator]="true"
    [rows]="rows"
    [first]="first"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} usuarios"
    (onPage)="pageChange($event)"
    [rowsPerPageOptions]="[5, 10, 20]"
    [globalFilterFields]="[
      'persona.nombre',
      'persona.apellido',
      'email',
      'roles',
      'estado',
    ]"
    [customSort]="true"
    (sortFunction)="customSort($event)"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th pSortableColumn="persona.nombre">
          <div class="flex items-center gap-2">
            Nombre
            <p-sortIcon field="persona.nombre"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="persona.apellido">
          <div class="flex items-center gap-2">
            Apellidos
            <p-sortIcon field="persona.apellido"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="email">
          <div class="flex items-center gap-2">
            Correo
            <p-sortIcon field="email"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="roles">
          <div class="flex items-center gap-2">
            Roles
            <p-sortIcon field="roles"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="estado">
          <div class="flex items-center gap-2">
            Estado
            <p-sortIcon field="estado"></p-sortIcon>
          </div>
        </th>

        <th pSortableColumn="ultimo_login">
          <div class="flex items-center gap-2">
            Último Login
            <p-sortIcon field="ultimo_login"></p-sortIcon>
          </div>
        </th>
        <th>Acción</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-u let-i="rowIndex">
      <tr>
        <td>{{ i + 1 }}</td>
        <td>{{ u.persona?.nombre }}</td>
        <td>{{ u.persona?.apellido }}</td>
        <td>{{ u.email }}</td>
        <td>{{ getRoles(u.roles) }}</td>
        <td>
          <p-tag [value]="u.estado" [severity]="getEstadoSeverity(u.estado)" />
        </td>
        <td>{{ u.ultimo_login | date: "dd/MM/yyyy HH:mm" }}</td>
        <td>
  <!-- Si está activo, muestro Editar y Eliminar -->
  <ng-container *ngIf="u.estado?.toLowerCase() === 'activo'; else inactivoActions">
    <p-button icon="pi pi-pencil" class="mr-2" (click)="funEditar(u)" />
    <p-button icon="pi pi-trash" severity="danger" (click)="funEliminar(u)" />
  </ng-container>

  <!-- Si está inactivo, muestro solo Reactivar -->
  <ng-template #inactivoActions>
    <p-button label="Reactivar" 
              icon="pi pi-check" 
              severity="success" 
              (click)="funActivar(u)" />
  </ng-template>
</td>
      </tr>
    </ng-template>
  </p-table>
</div>
