<!-- FORMULARIO REGISTRAR USUARIO -->
<p-dialog
  header="Registrar Usuario"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '32rem' }"
>
  <span class="text-gray-500 block mb-4">Complete los datos del usuario.</span>

  <form [formGroup]="userForm" class="p-fluid">

    <!-- SECCIÓN PERSONA -->
    <p-divider align="left">
      <span class="text-sm font-semibold text-gray-600">Datos Personales</span>
    </p-divider>

    <div formGroupName="persona" class="flex flex-col gap-y-4">

      <div class="flex items-center gap-x-4">
        <label for="nombre" class="w-24 font-semibold">Nombre</label>
        <input pInputText id="nombre" formControlName="nombre" class="flex-1" />
      </div>

      <div class="flex items-center gap-x-4">
        <label for="apellido" class="w-24 font-semibold">Apellido</label>
        <input pInputText id="apellido" formControlName="apellido" class="flex-1" />
      </div>

      <div class="flex items-center gap-x-4">
        <label for="documento" class="w-24 font-semibold">Documento</label>
        <input pInputText id="documento" formControlName="documento_identidad" class="flex-1" />
      </div>

      <div class="flex items-center gap-x-4">
        <label for="telefono" class="w-24 font-semibold">Teléfono</label>
        <input pInputText id="telefono" formControlName="telefono" class="flex-1" />
      </div>

      <div class="flex items-center gap-x-4">
        <label for="emailPersona" class="w-24 font-semibold">Correo</label>
        <input pInputText id="emailPersona" formControlName="email" class="flex-1" />
      </div>

    </div>

    <!-- SECCIÓN USUARIO -->
    <p-divider align="left">
      <span class="text-sm font-semibold text-gray-600">Datos de Usuario</span>
    </p-divider>

    <div formGroupName="user" class="flex flex-col gap-y-4">

      <div class="flex items-center gap-x-4">
        <label for="emailUser" class="w-24 font-semibold">Correo Usuario</label>
        <input pInputText id="emailUser" formControlName="email" class="flex-1" />
      </div>

      <div class="flex items-center gap-x-4">
        <label for="pass" class="w-24 font-semibold">Contraseña</label>
        <input type="password" pInputText id="pass" formControlName="password_hash" class="flex-1" />
      </div>

      <div class="flex items-center gap-x-4">
        <label for="roles" class="w-24 font-semibold">Roles</label>
        <p-multiSelect
          id="roles"
          [options]="rolesOptions"
          formControlName="roles"
          optionLabel="nombre"
          optionValue="id"
          placeholder="Seleccione roles"
          appendTo="body"
          [filter]="false"
          [showToggleAll]="false"
          class="flex-1"
        ></p-multiSelect>
      </div>

    </div>

    <div class="flex justify-end gap-2 mt-4">
      <p-button label="Cancelar" severity="secondary" (click)="visible = false" />
      <p-button label="Guardar" (click)="funGuardarUser()" [disabled]="!userForm.valid" />
    </div>

  </form>
</p-dialog>

<!-- FORMULARIO EDITAR USUARIO -->
<p-dialog
  header="Editar Usuario"
  [modal]="true"
  [(visible)]="visibleeditar"
  [style]="{ width: '30rem' }"
>
  <form [formGroup]="userForm2" class="p-fluid">

    <p-divider align="left">
      <span class="text-sm font-semibold text-gray-600">Datos del Usuario</span>
    </p-divider>

    <div class="flex items-center gap-x-4 mb-4">
      <label for="email" class="w-24 font-semibold">Correo</label>
      <input pInputText id="email" formControlName="email" class="flex-1" />
    </div>

    <div class="flex items-center gap-x-4 mb-4">
      <label for="roles" class="w-24 font-semibold">Roles</label>
      <p-multiSelect
        id="roles"
        [options]="rolesOptions"
        formControlName="roles"
        optionLabel="nombre"
        optionValue="id"
        placeholder="Seleccione roles"
        class="flex-1"
      ></p-multiSelect>
    </div>

  </form>

  <p-divider align="left">
    <span class="text-sm font-semibold text-gray-600">Cambiar Contraseña</span>
  </p-divider>

  <form [formGroup]="passwordUserForm" class="p-fluid">
    <div class="flex items-center gap-x-4 mb-4">
      <label for="newPass" class="w-24 font-semibold">Nueva contraseña</label>
      <input
        type="password"
        pInputText
        id="newPass"
        formControlName="newpassword"
        placeholder="Dejar vacío si no desea cambiar"
        class="flex-1"
      />
    </div>
  </form>

  <div class="flex justify-end gap-2 mt-4">
    <p-button label="Cancelar" severity="secondary" (click)="visibleeditar = false" />
    <p-button label="Guardar" (click)="funGuardarUser()" [disabled]="!userForm2.valid" />
  </div>
</p-dialog>


<div class="card">
  <div class="flex items-center justify-between mb-6">
    <!-- Título -->
    <h1 class="text-4xl font-bold">Lista de Usuarios</h1>

    <!-- Buscador -->
    <div class="flex items-center space-x-2">
      <p-iconfield iconPosition="left">
        <p-inputicon>
          <i class="pi pi-search"></i>
        </p-inputicon>
        <input
          pInputText
          type="text"
          placeholder="Buscar usuario..."
          class="border rounded px-3 py-2 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400"
          (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
        />
      </p-iconfield>

      <p-button
        (click)="showDialog()"
        label="Nuevo Usuario"
        icon="pi pi-plus"
      />
    </div>
  </div>

  <p-table
    [value]="users()"
    #dt1
    [paginator]="true"
    [rows]="rows"
    [first]="first"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} usuarios"
    (onPage)="pageChange($event)"
    [rowsPerPageOptions]="[5, 10, 20]"
    [globalFilterFields]="[
      'persona.nombre',
      'persona.apellido',
      'email',
      'roles',
      'estado',
    ]"
    [customSort]="true"
    (sortFunction)="customSort($event)"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th pSortableColumn="persona.nombre">
          <div class="flex items-center gap-2">
            Nombre
            <p-sortIcon field="persona.nombre"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="persona.apellido">
          <div class="flex items-center gap-2">
            Apellidos
            <p-sortIcon field="persona.apellido"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="email">
          <div class="flex items-center gap-2">
            Correo
            <p-sortIcon field="email"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="roles">
          <div class="flex items-center gap-2">
            Roles
            <p-sortIcon field="roles"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="estado">
          <div class="flex items-center gap-2">
            Estado
            <p-sortIcon field="estado"></p-sortIcon>
          </div>
        </th>

        <th pSortableColumn="ultimo_login">
          <div class="flex items-center gap-2">
            Último Login
            <p-sortIcon field="ultimo_login"></p-sortIcon>
          </div>
        </th>
        <th>Acción</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-u let-i="rowIndex">
      <tr>
        <td>{{ i + 1 }}</td>
        <td>{{ u.persona?.nombre }}</td>
        <td>{{ u.persona?.apellido }}</td>
        <td>{{ u.email }}</td>
        <td>{{ getRoles(u.roles) }}</td>
        <td>
          <p-tag [value]="u.estado" [severity]="getEstadoSeverity(u.estado)" />
        </td>
        <td>{{ u.ultimo_login | date: "dd/MM/yyyy HH:mm" }}</td>
        <td>
  <!-- Si está activo, muestro Editar y Eliminar -->
  <ng-container *ngIf="u.estado?.toLowerCase() === 'activo'; else inactivoActions">
    <p-button icon="pi pi-pencil" class="mr-2" (click)="funEditar(u)" />
    <p-button icon="pi pi-trash" severity="danger" (click)="funEliminar(u)" />
  </ng-container>

  <!-- Si está inactivo, muestro solo Reactivar -->
  <ng-template #inactivoActions>
    <p-button label="Reactivar" 
              icon="pi pi-check" 
              severity="success" 
              (click)="funActivar(u)" />
  </ng-template>
</td>
      </tr>
    </ng-template>
  </p-table>
</div>
