<p-dialog header="{{ isEdit ? 'Editar Categoría' : 'Nueva Categoría' }}" [(visible)]="visible" [modal]="true" [style]="{ width: '25rem' }">
  <form [formGroup]="categoriaForm" (ngSubmit)="guardarCategoria()">
    <div class="p-fluid">
       <div class="flex items-center gap-4 mb-3">
      <label for="nombre" class="font-semibold w-28">Nombre</label>
      <input
        pInputText
        id="nombre"
        class="flex-auto"
        formControlName="nombre"
      />
    </div>
        <div class="flex items-center gap-4 mb-3">
      <label for="descripcion" class="font-semibold w-28">Descripcion</label>
      <input
        pInputText
        id="descripcion"
        class="flex-auto"
        formControlName="descripcion"
      />
    </div>

    </div>
    <div class="flex justify-end gap-2 mt-4">
      <p-button label="Cancelar" severity="secondary" (click)="closeDialog()"/>
      <p-button label="Guardar" type="submit" [disabled]="categoriaForm.invalid"/>
    </div>
  </form>
</p-dialog>

